


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    overflow-x: hidden;
}

.container {
    width: 100% ;
}

.nav-bar {
    display: flex;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.nav-1 {
    width: 100%;
    display: flex;
    padding: 20px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
    font-family: udemy sans,sf pro text,-apple-system,BlinkMacSystemFont,Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
    font-weight: 400;
    line-height: 1.4;
    font-size: .9rem;
}

.nav-1 .left {
    display: flex;
    flex-direction: row;
    width: 57%;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}


.search-bar {
    width: 70%;
    background-color: white;
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 35px;
    color: rgba(0, 0, 0, 0.361);
}

.search-bar i {
    margin-right: 20px;
}


.search-bar input {
   border: none;
}

.nav-1 .left img {
    max-width: 90px;
}



.nav-1 .right {
    width: 40%;
}

.nav-1 .right ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.nav-1 li {
    list-style: none;
    transition: .2s ease;
    cursor: pointer;
}

.nav-1 li:hover {
    color:  #5624d0;
}

.sk {
    width: 25px;
}

.nav-2 {
    width: 100%;
    padding: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.nav-2 ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    font-weight: 400;
    line-height: 1.4;
    font-size: .9rem;
    transition: .2s ease-in-out;
    font-family: udemy sans,sf pro text,-apple-system,BlinkMacSystemFont,Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
    
}

.nav-2 li:hover {
    color: #5624d0;
    cursor: pointer;
}



.section-1 {
    position: relative;
}

.texts-card {
    background-color: white;
    position: absolute;
    width: 450px;
    top: 80px;
    left: 80px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%);
    padding: 1.5rem;
    height: 150px;
}

.texts-card h2 {
    font-size: 2rem;
}

.texts-card p {
    font-family: udemy sans,sf pro text,-apple-system,BlinkMacSystemFont,Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
    font-size: 1.1rem;
    margin-top: 15px;
}



.section-2 {
    padding: 30px;
}

.section-2 .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section-2 .top h1 {
    font-size: 2.5rem;
}

.section-2 .top a{
    font-size: 1.2rem;
}
.section-2 .bottom {
    display: flex;
    justify-content: space-between;
    margin:  30px 0px;

}

.section-2 .card {
    width: 400px;
    border: 1.5px solid lightgray;
    margin-right: 20px;
    height: 150px;
    display: flex;
}

.section-2 .card .left {
    width: 30%;
    height: 150px;
}

.section-2 .card .right {
    font-family: udemy sans,sf pro text,-apple-system,BlinkMacSystemFont,Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
    width: 70%;
    height: 150px;
    padding: 20px;
}

.section-2 .card .right h4 {
    color: rgba(0, 0, 0, 0.53);
    font-size: medium;
}

.section-2 .card .right h3 {
    margin-bottom: 20px;
}

.section-2 .card .right .length {
    display: flex;
    align-items: center;color: rgba(0, 0, 0, 0.594);
}

.section-3 {
    padding: 30px;
}

.section-3 h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.section-3 h2 {
    font-size: 1.8rem;
    font-family: udemy sans,sf pro text,-apple-system,BlinkMacSystemFont,Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
    margin-bottom: 10px;
}

.section-3 .card {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.244);
    height: 350px;
    padding: 20px;
    display: flex;
    transition: .3s ease-in;
}

.section-3 .card:hover{
    background-color: rgba(0, 0, 0, 0.027);
}


.section-3 .card .left {
    width: 45%;
    background-image: url("https://img-c.udemycdn.com/course/750x422/764164_de03_2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 300px;
}



.section-3 .card .right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: udemy sans,sf pro text,-apple-system,BlinkMacSystemFont,Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
    padding: 0px 30px;
    padding-bottom: 10px;
}

.section-3 .card .right h1{
    font-size: 1.8rem;
}


.section-3 .card .right p:first-of-type{
    font-size: 1rem;
    line-height: 23px;
}

.section-3 .card .right p:nth-child(3){
    font-size: 1rem;
    margin-top: 10px;
    color: rgba(0, 0, 0, 0.543);

}
.section-3 .card .right p:nth-child(4) {
    display: flex;
    color: #b4690e;
}

.section-3 .card .right p:nth-child(4) span i {
    margin-left: 5px;
    color: #d7d011;
}

.section-4 {
    padding: 30px;
}

.section-4 h1 {
    font-family: udemy sans,sf pro text,-apple-system,BlinkMacSystemFont,Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
    
}

.section-4 .card-main {
    display: flex;
    margin-top: 25px;
    justify-content: space-between;
}

.section-4 .card-main .card {
    width: 230px;
    height: 300px;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    transition: .5s all;
}

.section-4 .card-main .card:hover {
    transform: scale(1.02);
}

.section-4 .card .card-top img{
    width: 230px;
    height: 130px;
}

.section-4 .card .card-bottom {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    font-family: udemy sans,sf pro text,-apple-system,BlinkMacSystemFont,Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
}

.section-4 .card .card-bottom p:first-of-type{
    color: rgba(0, 0, 0, 0.621);
    font-size: .8rem;
    margin: 5px 0;
}

.section-4 .card .card-bottom p:nth-child(3) {
    display: flex;
    color: #b4690e;
}

.section-4 .card .card-bottom  p:nth-child(3) span i {
    margin-left: 5px;
    color: #bd8541;
}

.section-4 .card .card-bottom h4 {
    margin-top: 20px;
}

.section-5 {
    padding: 30px;
    width: 100%;
}

.section-5 h1 {
    font-family: udemy sans,sf pro text,-apple-system,BlinkMacSystemFont,Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
    margin-bottom: 25px;
}

.section-5 .maine {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.section-5 .maine .row1 {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    margin: 5px 0;
    justify-content: space-between;
}


.section-5  button {
    width: 230px;
    padding: 20px;
    background-color: white;
    border: 1px solid lightgray;
    transition: .5s ease;
}

.section-5  button:hover {
    background-color: rgba(227, 227, 227, 0.429);
    border-radius: 10px;
}

footer {
    background: #1c1d1f;
    border-top: 1px solid #3e4143;
    color: #fff;
    min-height: 400px;
}

footer h1 {
    font-size: 1.5rem;
    width: 50%;
}

footer .row-1 {
    display: flex;
    padding: 20px 2.4rem;
    flex-direction: row;
    border-bottom: 1px solid rgba(211, 211, 211, 0.445);
}
footer .footer-img {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .ftrimg {
    margin-left: 25px;
}

footer .row-2 {
    display: flex;
    flex-direction: row;
    padding: 20px 2.4rem;
    justify-content: space-between;
}

footer ul {
    font-family: udemy sans,sf pro text,-apple-system,BlinkMacSystemFont,Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
    list-style: none;
}
footer ul li {
    margin-top: 10px;
}

footer ul li:hover {
    text-decoration: underline;
}

footer .row-2 button {
    width: 150px;
    height: 50px;
    color: white;
    background-color: #1c1d1f;
    border: 1px solid white;
    padding: 10px;
}

footer .row-3 {
    display: flex;
    flex-direction: row;
    padding: 30px 2.4rem;
    padding-bottom: -10px;
    align-items: center;
    justify-content: space-between;
    font-family: udemy sans,sf pro text,-apple-system,BlinkMacSystemFont,Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
    list-style: none;

} 

footer .row-3 img {
    width: 100px;
}


.class {
    
}